<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="ReadGithubPackages" value="https://nuget.pkg.github.com/microsoftgraph/index.json" />
        <add key="ReadKiotaGithubPackages" value="https://nuget.pkg.github.com/microsoft/index.json" />
    </packageSources>
</configuration>