name: Validate Pull Request

on:
  workflow_dispatch:
  push:
    branches: [ 'feature/*', 'main' ]
  pull_request:
    branches: [ 'feature/*', 'main' ]

permissions:
  contents: read #those permissions are required to run the codeql analysis
  actions: read
  security-events: write
  
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      solutionName: Microsoft.Graph.Beta.sln
      projectName: src/Microsoft.Graph/Microsoft.Graph.Beta.csproj
    steps:
      - uses: actions/checkout@v4.1.7
      - name: Setup .NET
        uses: actions/setup-dotnet@v4.0.1
        with:
          dotnet-version: 7.x
      - name: Restore dependencies
        run: dotnet restore ${{ env.solutionName }}
      - name: Build for netstandard2.0
        run: dotnet build ${{ env.projectName }} -f netstandard2.0 --no-restore -c Release
      - name: Build for netstandard2.1
        run: dotnet build ${{ env.projectName }} -f netstandard2.1 --no-restore -c Release
      - name: Build for net5.0
        run: dotnet build ${{ env.projectName }} -f net5.0 --no-restore -c Release
      - name: Build
        run: dotnet build ${{ env.solutionName }} --no-restore -c Release
      - name: Test
        run: dotnet test ${{ env.solutionName }} --no-build --verbosity normal -c Release /p:CollectCoverage=true /p:CoverletOutput=TestResults/ /p:CoverletOutputFormat=opencover

  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    env:
      solutionName: Microsoft.Graph.Beta.sln
      projectName: src/Microsoft.Graph/Microsoft.Graph.Beta.csproj
    strategy:
      fail-fast: false
      matrix:
        language: [ 'csharp' ]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4.1.7
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: ${{ matrix.language }}
    - name: Restore dependencies
      run: dotnet restore ${{ env.solutionName }}
    - name: Build for netstandard2.0
      run: dotnet build ${{ env.projectName }} -f netstandard2.0 --no-restore -c Release --no-incremental
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v3
